* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace; /* Estilo wireframe */
  background-color: #fff;
  color: #000;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: underline;
}