.mainContainer {
  display: flex;
  min-height: 100vh;
  border: 4px solid #000; /* Borda externa do wireframe */
}

.sidebar {
  width: 260px;
  background-color: #d9d9d9; /* Cinza da imagem */
  border-right: 2px solid #000;
  padding: 30px 20px;
}

.sidebarTitle {
  font-size: 28px;
  margin-bottom: 30px;
}

.contentArea {
  flex: 1;
  padding: 40px;
}

.addNewBtn {
  margin-top: 50px;
  color: #0056b3;
  font-weight: bold;
  text-decoration: none;
}

.addNewBtn:hover {
  text-decoration: underline;
}