/* TaskItem.module.css */
.taskItem {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 2px solid #000;
  gap: 15px;
}

.status {
  padding: 2px 8px;
  margin-left: 3%;
  border: 1px solid #000; /* Mantendo o estilo wireframe */
  text-transform: lowercase;
}


.overdue {
  color: red;
}