.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.projectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  flex: 1;
}

.deleteBtn {
  font-size: 30px;
  color: #999;
  padding: 0 10px;
  cursor: pointer;
}

.deleteBtn:hover {
  color: #ff0000;
}

.active {
  border: 2px solid #000;
  background: #fff;
}